<%- include('./partials/header.ejs') %>
    <h1>Track My Project</h1>
    <h2>Add Project</h2>
    <form action="/projects" method="POST">
        <label for="project-name">Name:</label>
        <input type="text" placeholder="Project Name" id="project-name" name="projectName"/>
    </br>
        <label for="project-cat">Category:</label>
        <input type="text" placeholder="Project Name" id="project-cat" name="category"/>
    </br>
        <label for="project-desc">Description:</label>
        <input type="text" placeholder="Project Description" id="project-desc" name="description"/>
    </br>
        <label for="project-budget">Budget:</label>
        <input type="number" id="project-budget" name="budget"/>
    </br>
        <label for="project-image">Image:</label>
        <input type="text" placeholder="Image Path or URL" id="project-image" name="projectImg"/>
    </br>
        <label for="project-complete">Complete:</label>
        <input type="checkbox" id="project-complete" name="projectComplete"/>
    </br>
        <input type="submit" value="Create Project"/>
    </form>
<%- include('./partials/footer.ejs') %>
