@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Saira Extra Condensed', 'Arial';
    font-weight: 300;
    font-size: 1.25rem;
    /* background-color: #D9CDA0; */
    
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0 20px;
}

h2 {
    font-weight: 600;
    font-size: 2.25rem;
    margin: 0 20px;
}

nav {
    font-weight: 400;
    background: linear-gradient(to right, #867171, #D9CDA0);
    width: 100vw;
}

.nav-link {
    padding: 0 10px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.show-details {
    margin: 20px;
    padding: 10px;
}

.show-image {
    margin: 20px;
}

label {
    font-weight: 600;
}

input {
    background-color: #e2ded1;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

input[type=submit] {
    font-weight: 600;
    padding: 5px 10px;
}

input[type=submit]:hover {
    box-shadow: 0 1px 1px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    font-weight: bolder;
}

img {
    width: 40vw;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 3px;
}

small {
    margin: 20px;
}
